:root {
   --color-dark-slate-blue: 212, 100%, 50%;
   --color-blue-gray: 217, 20%, 51%;
   --color-steel-blue: 217, 35%, 45%;
   --color-dark-blue-gray: 217, 21%, 21%;
   --color-light-gray: 227, 100%, 98%;
   --color-off-white: 0, 0%, 99.6%;

   --color-white: 0, 0%, 100%;
   --color-navy-blue: 220, 40%, 13%;
   --color-charcoal: 222, 41%, 20%;

   --color-light-blue: 222, 44, 70;
   --color-orange-red: 0, 91%, 62%;
   --color-bright-navy-blue: 212, 100%, 69%;
   
   // --color-bg-light: hsl( var(--color-light-gray) );
   // --color-bg-dark: hsl( var(--color-navy-blue) );
   // --color-text-light: hsl( var(--color-dark-blue-gray) );
   // --color-text-dark: hsl( var(--color-white) );
}