@use "../util" as u;

.search {
   background-color: hsl( var(--color-off-white) );
   border-radius: u.rem(15);
   box-shadow: 0px 16px 30px -10px hsla(227, 46%, 51%, 0.2);
   margin-bottom: u.rem(24);

   &__light {
      background-color: hsl( var(--color-off-white) ) !important;
   }

   &__dark {
      background-color: hsl( var(--color-charcoal) );
   }

   &__form {
      justify-content: space-between;

      &__left,
      &__right {
         align-items: center;
         gap: u.rem(24);

         @include u.breakpoint-down(small) {
            gap: u.rem(9);
         }
      }
      
      &__image {
         margin: u.rem(23) 0 u.rem(22) u.rem(32);
         
         @include u.breakpoint-down(small) {
            height: u.rem(20);
            margin: u.rem(20) 0 u.rem(20) u.rem(16);
         }
      }

      &__input {
         background-color: transparent;
         color: hsl( var(--color-steel-blue) );
         caret-color: hsl( var(--color-dark-slate-blue) );
         border: none;
         outline: none;
         width: u.rem(400);
         font-size: u.rem(18);
         font-weight: 400;
         line-height: 1.3889;
         cursor: pointer;

         &__light {
            color: hsl( var(--color-steel-blue) ) !important;
            // caret-color: hsl( var(--color-steel-blue) ) !important;

            &::placeholder {
               color: hsl( var(--color-steel-blue) ) !important;
            }
            
            &:focus {
               color: hsl( var(--color-dark-blue-gray) !important);
            }
         }

         &__dark {
            // caret-color: hsl( var(--color-white) );
            
            &::placeholder {
               color: hsl( var(--color-white) );
            }
            
            &:focus {
               color: hsl( var(--color-white) );
            }
         }        

         @include u.breakpoint-down(medium) {
            width: u.rem(279);
         }
         
         @include u.breakpoint-down(small) {
            font-size: u.rem(13);
            line-height: 1.9231;
            width: u.rem(200);
         }
      }
         
      &__error-message {
         font-size: u.rem(15);
         font-weight: 700;
         line-height: 1.4813;
         color: hsl( var(--color-orange-red) );
         display: none;

         @include u.breakpoint-down(medium) {
            font-size: u.rem(13);
         }
      }

      &__button {
         background-color: hsl( var(--color-dark-slate-blue) );
         color: hsl( var(--color-white) );
         font-weight: 700;
         margin-right: u.rem(10);
         padding: u.rem(12.5) u.rem(23);
         border-radius: u.rem(10);
         
         &:hover {
            background-color: hsl( var(--color-bright-navy-blue) );
         }
         
         @include u.breakpoint-down(small) {
            font-size: u.rem(14);
            line-height: 1.4807;
            padding: u.rem(12.5) u.rem(14) u.rem(12.5) u.rem(18);
            margin-right: u.rem(7);
         }
      }
   }
}

@media screen and (prefers-color-scheme: dark) {
   .search {
      background-color: hsl( var(--color-charcoal) );

      &__form {
         &__input {
            // caret-color: hsl( var(--color-white) );

            &:focus {
               color: hsl( var(--color-white) );
            }
   
            &::placeholder {
               color: hsl( var(--color-white) );
            }
         }
      }
   }
}